:root {
    --hoverColor: orange;
    --currentPageColor: yellow;
}

/* Home Page Styles */

/* Navigation bar Styles */
#home {
    color: var(--currentPageColor);
}

    #home:hover {
        color: var(--hoverColor);
    }

/* Body Topics*/
#hrHome1 {
    width: 105px;
}

#hrHome2 {
    width: 123px;
}

/* ..................................................................................................... */
/* Slide Show styles */
.slideShow {
    width: 50%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(0, 0);
}

.slideShow div {
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

@keyframes slide{
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(-200%);
    }
    40% {
        transform: translateX(-200%);
    }
    45% {
        transform: translateX(-300%);
    }
    55% {
        transform: translateX(-300%);
    }
    60% {
        transform: translateX(-400%);
    }
    70% {
        transform: translateX(-400%);
    }
    75% {
        transform: translateX(-500%);
    }
    85% {
        transform: translateX(-500%);
    }
}

.slideShow img {
    width: 100%;
}

@media screen and (max-width: 662px) {
    .slideShow {
        margin-top: 10px;
        width: 80%;
    }
}


/* ..................................................................................................... */
/* Body Service Grid styles */
.serviceGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    color: wheat;
    font-size: 20px;
}

.serviceGrid section {
    margin: 0 auto;
}

.serviceGrid section ol, ul {
    margin-top: 0;
    padding-left: 50px;
}

@media screen and (max-width: 500px) {
    .serviceGrid {
        display: none;
    }
}

/* ..................................................................................................... */
/* Sections */
.sectionPc {
    text-decoration: none;
}

.productFields {
    margin: 10px 20px;
    border-radius: 10px; 
    background-color: rgb(20, 20, 20); 
    border: none;
}

.productFields ol {
    color: white; 
    font-weight: bold;
}

.productFields legend {
    color: white; 
    margin: 0px 10px; 
    font-size: 20px;
}

.productFields table {
    margin-left: auto; 
    margin-right: auto; 
    color: white;
    margin-bottom: 20px;
}

.productFields td {
    width: 5%;
    padding: 0 25px;
    text-align: justify;
}

.productFields li {
    margin-left: 50px;
}

.imgPc {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    float: right;
    margin-top: -30px;
}

/* Section Mobile Screen */
@media screen and (min-width: 1000px) {
    .sectionMobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .sectionPc {
        display: none;
    }

    .introToGrocies {
        font-size: 15px;
    }

    .sectionMobile {
        text-decoration: none;
        color: white;
        text-align: justify;
    }

    .sectionMobile img {
        border-radius: 10px;
        width: 80%; 
        height: 80%; 
        margin: 0 10%; 
        margin-bottom: 30px; 
        margin-top: 5px;
    }

    .sectionMobile div {
        font-size: 20px;
        font-weight: bold;
        text-align: center; 
        margin-top: 10px; 
        margin-bottom: 10px;
    }

    .sectionMobile ul {
        margin-top: 50px;
        padding-left: 0;
    }

    .sectionMobile fieldset {
        margin-top: 25px;
    }
}





/* ______________________________________________________________________________________________________________________________________ */
/* Order Page Styles */

/* Navigation bar Styles */
#order {
    color: var(--currentPageColor);
}

#order:hover {
    color: var(--hoverColor);
}

/* Topic Styles */
#hrOrder1 {
    width: 159px;
}

#hrOrder2 {
    width: 64px;
}

@media screen and (max-width: 700px) {
    #hrOrder1 {
        width: 300px;
        text-align: center;
    }
}

/*.......................................................................................................................*/
/* Order Forms styles */
.orderForms {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.orderForms form {
    width: 30%;
    margin: 10px;
    text-align: center;
}

.orderForms form fieldset {
    border-radius: 10px;
    border: 1.5px solid white;
}

.orderForms form h2 {
    color: green;
    font-weight: bold;
}

.orderForms form table {
    margin: 0 auto;

    td {
        text-align: left;
        padding: 10px;

        select {
            width: 80%;
            float: right;
        }

        input {
            width: 76%;
            float: right;
        }
    }
}

.orderForms form p {
    text-align: center;
    color: white;
    font-weight: bold;
}

.submitBtns {
    width: 30%;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    background-color: orange;
    margin-bottom: 5%;
}

/* Hovering effects */
.orderForms form fieldset:hover {
    background-color: rgba(49, 89, 0, 0.347);
    transition: .5s;
}

.orderForms form fieldset:hover h2 {
    color: rgb(0, 175, 0);
    transition: .9s;
}

.submitBtns:hover {
    background-color: greenyellow;
    transition: .5s;
}

/*.......................................................................................................................*/
/* Cart Table styles */
#hrOrder2 {
    margin-top: 50px;
}

.orderedList {
    width: 90%;
    margin: 0 auto;
}

.orderedList table {
    width: 100%;

    th {
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.54);
        background-color: rgba(71, 71, 71, 0.586);
    }

    td {
        padding: 10px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.54);
    }

    .priceCell {
        display: flex;
        justify-content: space-between;

        span {
            width: 90%;
        }

        button {
            color: white;
            background-color: red;
        }
    }

    /* Cloum widths */
    .items {
        text-align: left;
    }

    .quantity {
        width: 20%;
    }

    .price {
        width: 40%;
    }
}

/* Cart Table Button styles */
.cartTableBtns {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    table {
        width: 100%;
    }

    #useFavBtn {
        float: left;
    }

    #addFavBtn {
        float: right;
    }

    #setOrderPageLink a {
        color: black;
        text-decoration: none;
    }
}

/* Order Form Small Screen Styles */
@media (max-width: 862px) and (min-width: 662px) {
    .orderForms form h2 {
        height: 50px;
    }

    .orderForms form fieldset button {
        width: 100px;
    }
}

@media screen and (max-width: 662px) {
    /* Order Form styles */
    .orderForms {
        width: 80%;
        margin: 0 auto;
    }

    .orderForms form {
        width: 100%;
    }

    .orderForms form h2 {
        margin: 10px;
    }

    .submitBtns {
        width: 60%;
    }

    .orderForms form table {
        td {
            width: 50%;
            padding: 1px;
            padding-top: 10px;

            select {
                width: 82%;
            }
        }
    }

    #useFavBtn {
        font-size: 15px;
    }

    #addFavBtn {
        font-size: 15px;
    }

    /* Footer styles */
    footer {
        margin-bottom: 0px;
    }
}





/* ______________________________________________________________________________________________________________________________________ */
/* Loyalty Page Styles */
.loyaltyPage {
    font-weight: bold;
}

/* Navigation bar Styles */
#loyalty {
    color: var(--currentPageColor);
}

#loyalty:hover {
    color: var(--hoverColor);
}

/* Body Topic Styles*/
#hrLoyalty1 {
    width: 230px;
}

#hrLoyalty2 {
    width: 255px;
}

/* ......................................................................................................................... */
/* Loyalty Scheme Styles */
.lSchemes {
    display: flex;
    flex-direction: row;
}

.lSchemes section {
    width: 100%;
    margin: 15px 5px;
}

.lSchemes section fieldset {
    border-radius: 5px;
}

#scheme1 {
    color: #CD7F32;
}

#scheme2 {
    color: #00d0ff;
}

#scheme3 {
    color: #FFD700;
}

.lSchemes section img {
    border-radius: 20px; 
    border: 2px solid white; 
    height: 100%; 
    width: 80%;
}

.lSchemes section label {
    float: right; 
    margin: 10px;
    padding: 5px; 
    border-radius: 5px; 
    border: 1px solid white;  
    color: black;
}

#bronze {
    background-color: #CD7F32;
}

#celestite {
    background-color: #00d0ff;
}

#gold {
    background-color: #FFD700;
}

/* Loyalty Scheme style in mobile view */
@media screen and (max-width: 900px) {
    .lSchemes {
        flex-direction: column !important;
        width: 90%;
        margin: 0 auto !important;
    }

    .lSchemes section {
        width: 100%;
        margin: 10px auto;
    }

    .lSchemes p {
        font-size: 12.3px;
    }

    .lSchemes section fieldset {
        width: 80%;
        margin: 0 auto;
    }
}

/*.......................................................................................................................*/
/* Registration Form Styles */
.regForm {
    width: 70%;
    margin: 10px auto;
    margin-bottom: 30px;
}

.regForm fieldset {
    border-radius: 5px;
}

.regForm fieldset table {
    width: 100%;
    padding: 10px 10px;
}

.regForm fieldset table td {
    padding: 10px 50px;
}

.regForm select {
    border-radius: 5px;
}

.btsSub input {
    color: white;
    background-color: rgb(34, 33, 33);
    width: 90px;
    height: 30px;
    border: 0;
    border-radius: 50px;
}

.pContent {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

/*Registration Form Button Hover*/
.btsSub input:hover {
    color: black;
    background-color: orange;
    transition: .5s;
}

/*Registration Form Button Click Styles*/
.btsSub input:active {
    transition: none;
    background-color: greenyellow;
    animation: 50s forwards;
}

/* Registration Form style in mobile view */
@media screen and (max-width: 1000px) {
    .regForm {
        width: 90%;
    }

    .regForm fieldset table td {
        padding: 5px 2%;
    }

    .regForm fieldset {
        padding: 0;
    }

    .regForm td {
        font-size: 15px;
    }

    .pContent {
        float: right;
        width: 80%;
    }

    .btsSub {
        margin-bottom: 10px;
    }

    .regForm select {
        border-radius: 5px;
        float: right;
    }
}





/* ______________________________________________________________________________________________________________________________________ */
/* About Us Page Styles */

/* Navigation bar Styles */
#about {
    color: var(--currentPageColor);
}

#about:hover {
    color: var(--hoverColor);
}

/* Body Topic Styles*/
#hrAbout1 {
    width: 11.4em;
}

#hrAbout2 {
    width: 127px;
}

#hrAbout3 {
    width: 111px;
}

@media screen and (max-width: 1000px) {
    #hrAbout1 {
        font-size: 23px;
    }
}

/* ......................................................................................................................... */
/*Our Journey Para (History of the SuperMarket)*/
.Journey p {
    margin: 0 30%;
    text-align: center;
}

.Journey img {
    margin: 20px 30%;
    width: 40.1%;
    border-radius: 10px;
}

/*.......................................................................................................................*/
/*Branch Styles PC view*/
.aboutUsSectionPc h3 {
    margin: 0 30px;
    margin-top: 18px;
    font-weight: bold;
    font-size: 1.8em;
}

.aboutUsSectionPc fieldset {
    width: 80%;
    margin: 3% auto;
    border-radius: 10px;
}

.aboutUsSectionPc table {
    width: 90%;
    margin: 10px auto;
}

.aboutUsSectionPc td {
    text-align: justify;
    width: 50%;
    padding: 0 10px;
}

.aboutUsSectionPc iframe {
    float: right;
    border-radius: 5px;
}

.imgCol {
    height: 180px;
}

.aboutUsSectionPc img {
    width: 40%;
    padding: 20px 10px;
    border-radius: 40px;
}

/*.......................................................................................................................*/
/*Branch Styles Mobile view*/
.aboutUsSectionMobile h3 {
    margin: 0 30px;
    margin-top: 18px;
    font-weight: bold;
    font-size: 1.5em;
}

.aboutUsSectionMobile fieldset {
    width: 80%;
    margin: 3% auto;
    border-radius: 10px;
}

.aboutUsSectionMobile table {
    width: 90%;
    margin: 10px auto;
}

.aboutUsSectionMobile td {
    text-align: justify;
    width: 50%;
    padding: 2.5% 5%;
}

.aboutUsSectionMobile iframe {
    display: block;
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
}

.aboutUsSectionMobile img {
    width: 40%;
    padding: 20px 5px;
    border-radius: 30px;
}

/* Branch Styles Mobile Screen using media tags */
@media screen and (min-width: 1000px) {
    .aboutUsSectionMobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .aboutUsSectionPc {
        display: none;
    }

    .Journey p {
        font-size: 18px;
        margin: 00 10%;
        text-align: justify !important;
    }
}

/*.......................................................................................................................*/
/*Summery Table Styles*/
.tableSummery table {
    width: 75%;
    height: 380px;
    margin: 25px;
}

.tableSummery th {
    font-size: 1.2em;
    width: 30%;
    border: 1px solid white;
}

.tableSummery td {
    padding: 0.8em;
    border: 1px solid white;
}

.tfooter {
    text-align: center;
    border: none !important;
    padding: 1px 10px !important;
}