* {
    font-family: serif; 
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-weight: bold;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    color: rgb(239, 227, 205);
    text-align: justify;
    margin: 15px 5%;
    font-size: 20px;
}

/*.......................................................................................................................*/
/* Navigation bar 1 styles */
#div1 {
    padding: 10px 10px;
    background-color: black;
}

#logo {
    font-size: 28px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#login {
    font-size: 20px;
    color: white;
    float: right;
    padding: 5px;
}

#loginLogo {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    float: right;
    padding: 0px;
}

/*.......................................................................................................................*/
/* Main banner */
#banner {
    width: 100%;
    margin-bottom: -0.4em;
}

/*.......................................................................................................................*/
/* Navigation bar 2 styles */
#div2 {
    padding: 15px 10px;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
}

.navigationBar2 {
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

#products {
    color: yellow;
}

#sEnter {
    color: black;
    height: 30px;
    width: 100px;
    font-size: 20px;
    float: right;
    font-weight: bold;
    background-color: green;
    border: none;

}

#serch {
    height: 25px;
    width: 250px;
    float: right;
    border-radius: 5px;
    border: none;
}

/* ................................ */
/* Nav bar Subsection */
#products {
    padding: 25px 10px;
}

.subSet {
    display: none;
    padding: 10px 20px;
    text-align: center;
}

.subSet a {
    text-decoration: none;
    color: white;
}

#dairy {
    color: yellow;
}

#products:hover~.subSet {
    display: block;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    background-color: rgb(1, 94, 1);
    margin-top: 15px;
    margin-left: 2em;
}

.subSet:hover {
    display: block;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    background-color: rgb(1, 94, 1);
    margin-top: 15px;
    margin-left: 2em;
}

.supPoint:hover {
    color: orange;
    border-bottom: 1px solid orange;
    transition: .4s;
}

#dairy:hover {
    color: orange;
}

@media screen and (max-width: 662px) {
    #products:hover~.subSet {
        margin-top: 10px;
        margin-left: 38px;
    }

    .subSet:hover {
        margin-top: 10px;
        margin-left: 38px;
    }
}

/* ......................................................................................................................... */
/* Body First Topic*/
.topic {
    margin-top: 20px;
    position: relative;
}

#htopic {
    color: white;
    background-color: black;
    padding: 10px;
    width: 205px;
    margin: 0 auto;
    z-index: 3;
    position: relative;
}

hr {
    height: 4px;
    width: 80%;
    background-color: white;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
}

/* ......................................................................................................................... */
/* Dairy Section Flex Styles */
.flexbox {
    display: flex;
    flex-flow: row wrap;
}

.flexSections {
    border: 1px solid white;
    border-radius: 10px;
    flex: 0 0 calc(33.33% - 100px);
    margin: 40px 50px;
    box-sizing: border-box;
}

.flexbox section h2 {
    text-align: center;
}

.dairyImg {
    margin: 10px;
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.flexbox section input {
    float: right;
    border: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: orange;
}

.flexbox section:hover {
    background-color: rgb(18, 17, 17);
}

.flexbox input:hover {
    color: white;
    background-color: green;
    transition: .5s;
}

@media screen and (max-width: 980px) {
    .flexSections {
        flex: 0 0 calc(50% - 20px);
        margin: 10px 10px;
    }

    .flexbox p {
        font-size: 13px;
    }

    .flexbox section input {
        margin-bottom: 10px !important;
        margin-right: 10px !important;
    }

    .flexbox h2 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

@media screen and (max-width: 380px) {
    .flexbox h2 {
        font-size: 0.9em !important;
    }
}

/* ......................................................................................................................... */
/* Body Second Topic*/
#htopic2 {
    color: white;
    background-color: black;
    padding: 10px;
    width: 321px;
    margin: 0 auto;
    z-index: 3;
    position: relative;
}

/* ......................................................................................................................... */
/* Dairy product infor section */
.sectionProducts {
    margin-bottom: 30px;
}

@media screen and (max-width: 980px) {
    #htopic2 {
        font-size: 2em;
        width: auto;
        background-color: rgb(24, 22, 22) !important;
    }

    .sectionProducts section p {
        font-size: 1em;
    }

    .sectionProducts {
        width: 90%;
        margin: 10px auto;
        padding: 10px;
        margin-bottom: 20px !important;
        border-radius: 10px;
        background-color: rgb(24, 22, 22);
    }
}

/*.......................................................................................................................*/
/*Navigation bar 1 Hover Styles*/
#logo:hover {
    color: greenyellow;
    transition: .5s;
}

#login:hover {
    color: greenyellow;
    transition: .5s;
}


/*.......................................................................................................................*/
/*Navigation bar 2 Hover Styles*/
.navigationBar2:hover {
    color: orange;
    transition: .5s;
}

#sEnter:hover {
    color: orange;
    transition: .5s;
}

#loyalty:hover {
    color: orange;
    transition: .5s;
}

/* .......................................................................................................................... */
/* Navigation Bar 2 Small screen 1 */
@media screen and (max-width: 980px) {
    .navigationBar2 {
        margin: 0 auto;
    }

    #div2 {
        text-align: center;
        padding: 10px 5px;
        font-size: 15px;
    }

    #sEnter {
        padding: 0 35px;
    }

    .search {
        display: none;
    }
}

/* Navigation Bar 1 & 2 Small screen 2 */
@media screen and (max-width: 662px) {
    #div2 {
        text-align: center;
        padding: 10px 1px;
        font-size: 10px;
    }

    #div1 {
        padding: 10px 10px;
    }

    #logo {
        font-size: 20px;
    }

    #login {
        font-size: 20px;
        padding: 0 5px !important;
    }

    #loginLogo {
        width: 23px;
        height: 23px;
    }
}

/* Topic style in mobile view */
@media screen and (max-width: 1000px) {

    .topic hr,
    .topic2 hr {
        display: none;
    }

    .topic h1,
    .topic2 h1 {
        padding: 0 !important;
        text-align: center;
        color: rgb(173, 255, 50) !important;
    }
}