body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-weight: bold;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    color: rgb(239, 227, 205);
    text-align: justify;
    margin: 15px 100px;
    font-size: 20px;
}

/*.......................................................................................................................*/
/* Navigation bar 1 styles */
#div1 {
    padding: 10px 10px;
    background-color: black;
}

#logo {
    font-size: 28px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#login {
    font-size: 20px;
    color: white;
    float: right;
    padding: 5px;
}

#loginLogo {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    float: right;
    padding: 0px;
}

/*.......................................................................................................................*/
/* Main banner */
#banner {
    width: 100%;
    margin-bottom: -0.4em;
}

/*.......................................................................................................................*/
/* Navigation bar 2 styles */
#div2 {
    padding: 15px 10px;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
}

.navigationBar2 {
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

#order {
    color: yellow;
}

#sEnter {
    color: black;
    height: 30px;
    width: 100px;
    font-size: 20px;
    float: right;
    font-weight: bold;
    background-color: green;
    border: none;

}

#serch {
    height: 25px;
    width: 250px;
    float: right;
    border-radius: 5px;
    border: none;
}

/* ......................................................................................................................... */
/* Body First Topic*/
.topic {
    margin-top: 20px;
    position: relative;
}

#htopic {
    color: white;
    background-color: black;
    padding: 10px;
    width: 85px;
    margin: 0 auto;
    z-index: 3;
    position: relative;
}

hr {
    height: 4px;
    width: 80%;
    background-color: white;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
}


/*.......................................................................................................................*/
/* Order Form styles */
fieldset {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}

table {
    width: 60%;
}

.leftCol {
    padding-left: 5%;
    height: 40px;
}

.rightCol {
    text-align: right;
    padding-right: 5%;
}

.radioSet {
    text-align: right;
    padding-right: 10%;
}

#textBoxCell {
    padding: 0 10%;
}

#textBox {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.btnSub {
    height: 30px;
    width: 100px;
    float: right;
    border-radius: 20px;
    background-color: rgb(29, 28, 28);
    color: orange;
}

/*.......................................................................................................................*/
/*Navigation bar 1 Hover Styles*/
#logo:hover {
    color: greenyellow;
    transition: .5s;
}

#login:hover {
    color: greenyellow;
    transition: .5s;
}


/*.......................................................................................................................*/
/*Navigation bar 2 Hover Styles*/
.navigationBar2:hover {
    color: orange;
    transition: .5s;
}

#sEnter:hover {
    color: orange;
    transition: .5s;
}

#order:hover {
    color: orange;
    transition: .5s;
}

/* .......................................................................................................................... */
/* Navigation Bar 2 Small screen 1 */
@media screen and (max-width: 980px) {
    .navigationBar2 {
        margin: 0 auto;
    }

    #div2 {
        text-align: center;
        padding: 10px 5px;
        font-size: 15px;
    }

    #sEnter {
        padding: 0 35px;
    }

    .search {
        display: none;
    }
}

/* Navigation Bar 2 Small screen 2 */
@media screen and (max-width: 662px) {
    #div2 {
        text-align: center;
        padding: 10px 1px;
    }
}